body {
  background-color: pink;
  text-align: center;
}

h1 {
  color: red;
}

 h2 {
   color: blue;
 }

 h3 {
   color: green;
 }

 h4 {
   color: grey;
 }

 .p1 {
   line-height: 2;
   font-weight: bold;
   font-family: cursive;
 }
 img {
   width: 200px;
   height: 200px;
 }

 .p3 {
   font-family: 'Glory', sans-serif;
   font-weight: bolder;
 }

 .tmt {
   line-height: 3;
 }
